<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      
      <setting name="GeoRedirect.Mocks.Enabled" value="true" />

    </settings>
    <!--Pipelines-->
    <pipelines>
      <startTracking>
        <processor patch:instead="processor[@type='Sitecore.Analytics.Pipelines.StartTracking.UpdateGeoIpData, Sitecore.Analytics']" 
                   type="GeoIpFallback.Processors.UpdateGeoIpData, GeoIpFallback" />
      </startTracking>
    </pipelines>

    <mockLocationFallbackManager defaultProvider="default" enabled="true">
      <providers>
        <clear/>
        <add name="default" type="GeoIpFallback.Mock.SitecoreMockLocationProvider, GeoIpFallback" database="master"/>
      </providers>
    </mockLocationFallbackManager>

    <locationFallbackManager defaultProvider="geoIp2" enabled="true">
      <providers>
        <clear/>
        <add name="geoIp" type="GeoIpFallback.Providers.GeoIPFallbackProvider, GeoIpFallback" database="~/app_data/GeoLiteCity.dat"/>
        <add name="geoIp2" type="GeoIpFallback.Providers.GeoIP2FallbackProvider, GeoIpFallback" database="~/app_data/GeoLite2-City.mmdb"/>
      </providers>
    </locationFallbackManager>
  </sitecore>
</configuration>