<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--  GeoLiteCity Database Location
            Specifies path to MaxMind GeoLiteCity database.
            Default: ~/app_data/GeoLiteCity.dat
      -->
      <setting name="GeoRedirect.DatabaseLocation.GeoLiteCity" value="~/app_data/GeoLiteCity.dat" />

    </settings>
    <!--Pipelines-->
    <pipelines>
      <startTracking>
        <processor patch:instead="processor[@type='Sitecore.Analytics.Pipelines.StartTracking.UpdateGeoIpData, Sitecore.Analytics']" 
                   type="GeoIpFallback.Processors.UpdateGeoIpData, GeoIpFallback" />
      </startTracking>
    </pipelines>
  </sitecore>
</configuration>