<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--  GeoLiteCity Database Location
            Specifies path to MaxMind GeoLiteCity database.
            Default: ~/app_data/GeoLiteCity.dat
      -->
      <setting name="GeoRedirect.DatabaseLocation.GeoLiteCity" value="~/app_data/GeoLiteCity.dat" />
      <setting name="GeoRedirect.DatabaseLocation.GeoLite2City" value="~/app_data/GeoLite2-City.mmdb" />

    </settings>
    <!--Pipelines-->
    <pipelines>
      <startTracking>
        <processor patch:instead="processor[@type='Sitecore.Analytics.Pipelines.StartTracking.UpdateGeoIpData, Sitecore.Analytics']" 
                   type="GeoIpFallback.Processors.UpdateGeoIpData, GeoIpFallback" />
      </startTracking>
    </pipelines>

    <locationFallbackManager defaultProvider="geoIp2" enabled="true">
      <providers>
        <clear/>
        <add name="geoIp" type="GeoIpFallback.Providers.GeoIPFallbackProvider, GeoIpFallback"/>
        <add name="geoIp2" type="GeoIpFallback.Providers.GeoIP2FallbackProvider, GeoIpFallback"/>
      </providers>
    </locationFallbackManager>
  </sitecore>
</configuration>